.c1 {
    background-color: rgba(214, 218, 221, 0.854);
    margin: 20px;
    padding: 20px;
    min-width: 500px;
    min-height: 200px;
    display: grid;
    /* grid-template-rows: 20px 50px 1fr 50px; */
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  /* .c1:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  } */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heading {
  text-align: center;
}

.heading__date {
    font-size: x-small;
  font-weight: 600;
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}
